<head>
	<title>MahJong</title>
	<link href="css/mahJong.css" rel="stylesheet" />
</head>

<div class="container mainBody text-center">
    
    
    <div class="row">
        <div class="col-md-12">
            This is a screenshot of the MahJong game that I created. I was not able to imbed the file, MahJong.jar, into the website so I have opted to provide it as a downloadble file. The source files, MahJong.zip, have also been included to show the code that went into creating this game.
            <div class="row downloadLinks">
                <div class="col-md-6">
                    <b>Click <a href="/files/jars/MahJong.jar" download>here</a> to download MahJong.jar</b>
                </div>
                <div class="col-md-6">
                    <b>Click <a href="/files/MahJong.zip" download>here</a> to download MahJong.zip</b>
                </div>
            </div>
            <img class="mahJongImg img-responsive" src="images/MahJong.JPG"/>
        </div>
    </div>
    
</div>
