<head>
	<title>{{ title }}</title>
	<link href="css/main.css" rel="stylesheet" />
</head>
<!-- Page Content -->

<!-- Full Width Image Header -->
<!--
<header class="header-image">
	<div class="headline">
		<div class="container">
			<h1>One Page Wonder</h1>
			<h2>Will Knock Your Socks Off</h2>
		</div>
	</div>
</header>
-->

<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Collin Welker
                    <small>My Projects</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#/lovesac">
                    <img class="img-responsive" src="images/lovesacHome.jpg" alt="" href="#/lovesac">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Senior Project</h3>
                <h4>Lovesac Sactional Program</h4>
                <p>This is a senior project that I worked on for my brother who works at Lovesac. The premise of the project is, each employee has a handbook with 60 different couch configurations, depending on how many bases and sides you own. So the purpose of the project is to let a user enter in how many bases and sides they want, and then the page will filter to the possible couches they can create.</p>
                <a class="btn btn-primary" href="#/lovesac">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#/projectTwo">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Two</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                <a class="btn btn-primary" href="#/projectTwo">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#/projectThree">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Three</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                <a class="btn btn-primary" href="#/projectThree">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#/projectFour">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Four</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <a class="btn btn-primary" href="#/projectFour">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
<!--
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#/">1</a>
                    </li>
                    <li>
                        <a href="#/">2</a>
                    </li>
                    <li>
                        <a href="#/">3</a>
                    </li>
                    <li>
                        <a href="#/">4</a>
                    </li>
                    <li>
                        <a href="#/">5</a>
                    </li>
                    <li>
                        <a href="#/">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
-->
        <!-- /.row -->

<!--        <hr>-->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Collin Welker 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
